:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: none !important;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

/* common css */
/* color */
.text_black {
	color: #000000;
}

.text_primary {
	color: #e12b3e
}

.icon_s16 {
	width: 16px;
	height: auto;
}

.icon_s14 {
	width: 14px;
	height: 14px;
}

.icon_s15 {
	width: 15px;
	height: 15px;
}

.primary_btn {
	background: linear-gradient(to left, #e12b3e 50%, #e12b3ee6 50%);
	background-size: 200% 100%;
	background-position: right;
	transition: background-position 0.2s ease-out !important;
	outline: 0;
	border: 0 !;
	width: fit-content !important;
	color: #ffff !important;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 8px !important;
}

.primary_btn:hover {
	background-position: left;
	color: white;
}
.link_btn {
	background-color: transparent;
	outline: 0;
	border: 0;
	width: fit-content;
	color: #E12B3E !important;
	padding: 0.5rem 0rem;
	font-size: 0.875rem;
	font-weight:400;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 0px;
	cursor: pointer;
	text-decoration: none;
}

.link_btn:hover {
	background-position: left;
	color: white;
}
.secondary_fill_btn {
	background-color: #FFF0F2 !important;
	outline: 0;
	border: 0;
	width: fit-content;
	color: #E12B3E !important;
	padding: 0.5rem 1rem;
	font-size: 14px;
	font-weight: 400;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 12px;
}
.secondary_fill_btn:hover {
	background-color: #FFF0F2;
}

.main_solution_hero .primary_fill_btn {
	background-color: #E12B3E;
	outline: 0;
	border: 0;
	width: fit-content;
	color: #ffff !important;
	padding: 0.5rem 1rem;
	font-size: 14px;
	font-weight: 400;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 12px;
}

.main_solution_hero .primary_fill_btn {
	background-color: #E12B3E !important;
}

.main_solution_hero .secondary_fill_btn {
	background-color: #FFF0F2;
	outline: 0;
	border: 0;
	width: fit-content;
	color: #E12B3E !important;
	padding: 0.5rem 1rem;
	font-size: 14px;
	font-weight: 400;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 12px;
}

.main_solution_hero .secondary_fill_btn:hover {
	background-color: #FFF0F2;
}

@media (min-width: 1400px) {
    
	.custom_container.container {
        max-width: 1170px !important;
    }
}



/* end common css */

/* header */
.main_header {
	background-color: #ffff !important;
	color: #4b5563
}

.navbar-brand {
	color: #e12b3e !important;
	margin-right: 3rem !important;
}

.main_header .nav-item {
	position: relative;
	margin-right: 2rem;
}

.main_header .nav-item:not(.dropdown)::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) scaleX(0);
	transform-origin: center;
	width: 100%;
	height: 2px;
	background-color: #e12b3e;
	transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main_header .nav-item:hover::after {
	transform: translateX(-50%) scaleX(1);
}

.main_header .nav-link:hover {
	color: #e12b3e;
}

.main_header .dropdown-menu {
	position: absolute;
	margin-top: 0.1rem;
	border: 0px;
	outline: 0;
	box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	border: 1px solid #f3f4f6;
	background-color: #ffff;
	padding: 1rem;
	border-radius: 16px;
}

.dropdown-toggle::after {
	display: none !important;
}

.arrow_down_icon {
	width: 16px;
	height: 16px;
	transition: transform 0.3s ease;
}

.arrow_down_icon.rotate {
	transform: rotate(180deg);
}

.dropdown>.solutionShow {
	display: block;
}

.main_header .round_circle {
	width: 2rem;
	background-color: #e12b3e1a;
	aspect-ratio: 1;
	border-radius: 50%;
	/* makes it actually round */
	display: flex;
	align-items: center;
	justify-content: center;
}

.main_header .dropdown-menu .round_circle .icon {
	width: 16px;
	/* or whatever size you want */
	height: auto;
	color: #e12b3e;
}

.dropedown_navlink {
	font-size: 16px;
}

.dropedown_navlink:hover {
	color: #e12b3e;
}

.dropedown_navitem {
	font-size: 16px;
	color: #6b7280;
}

.arrow_right_icon {
	width: 1rem;
	height: auto;
	color: #ffff;
	margin-left: 0.5rem;
	/* space between text and arrow */
	transition: transform 0.2s ease-out;
	/* smooth movement */
}

.primary_btn:hover .arrow_right_icon {
	transform: translateX(5px);
	/* slight move to the right */
}

.main_header .signIn_btn {
	background-color: transparent;
	color: #e12b3e !important;
	outline: 0;
	border: 0;
	width: fit-content;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 8px;
}

.signIn_btn .user_icon {
	width: 16px;
	height: auto;
}

.signIn_btn:hover {
	background-color: #e12b3e0d !important;
}

.customer_icon {
	width: 16px;
	aspect-ratio: 1;
}

.contact p,
.email p {
	font-size: 14px;
}

.icons .social_icon {
	color: #ffff;
}

.top_navbar {
	background-image: linear-gradient(to right, rgb(225 43 62 / 0.9), rgb(147 51 234 / 0.9));
}

.dropdown {
	color: #fff;
	font-size: 0.875rem !important;
}

.select_language {
	border-left: 1px solid #fff;
}

.dropdown-menu .menu_language {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 1000;
	background-color: white;
	color: #fff;
	overflow: hidden;
	border-radius: 0.25rem;
	padding: 0px !important;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	min-width: 6rem !important;
}

.dropdown-item {
	width: fit-content;
	font-size: 0.875rem;
	padding: 0 0 0 1rem!important;
	border-radius: 1rem;
	overflow: hidden;
}

.dropdown.show .dropdown-menu .menu_language {
	display: block;
}

.dropdown-menu .menu_languag .dropdown-item:hover {
	background-color: #2727fb !important;
	color: #fff !important;

}

.nav_btn {
	border-left: 1px solid #ebebeb;
}

/* end header */

/* footer */
.footer{
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
	background-color:#28282B;
	color:#fff;
}
.footer_top_bg{
	background-image: radial-gradient(circle at 75% 25%, rgba(139, 92, 246, 0.1), transparent 50%);
}
.footer_top_bg2{
	background-image: radial-gradient(circle at 25% 75%, hsl(353.74deg 75.21% 52.55% / 10%), transparent 50%);
}
.footer_top{
	margin-left:14rem !important;
	margin-right:14rem !important;
	padding-top: 8rem;
	padding-bottom: 8rem;
	/* background: linear-gradient(to bottom right, #fff, #f9fafb, #fff); */
	/* background: linear-gradient(to bottom right, #ffffff, #f9fafb, #ffffff); */
		/* background: linear-gradient(to bottom right, #ffffff, #d1d5db, #ffffff); */
		

	background-position: center;
	background-size: cover;

}
.footer_top h2{
	color:#111827;
	line-height: 1.25;
	font-weight: 700;
	font-size: 3rem;
}
.footer_top h2 .bottom_boder {
	height: 0.25rem;
	width: 100%;
	left: 0;
	bottom: -0.5rem;
	background-color: #e12b3e4d;
	border-radius:624.938;
}
.footer_top .check_list{
	margin-top:2rem;
}
.footer_top .check_list .list_item{
	margin-top:1.5rem
}
.footer_top .check_list .list_item:first-child{
	margin-top:0;
}
.footer_top .check_list p{
	color:#4b5563
}
.footer_top .check_list .icon{
	width:2rem;
	height: 2rem;
	color:#4b5563;
	border-radius: 9999px;
	background-color:#ffffff1a;
}
.footer_top .check_list .icon .check_line{
	width: 16px;
	height: auto;
}
.footer_top .card{
	padding: 2rem;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
	border:1px solid #f3f4f6;
	border-radius: 1.5rem;

}
.footer_top .card h3{
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2rem;
	color:#111827;
}
.footer_top .card p{
	color:#4b5563;
}
.footer_top .card .card_body{
 margin-bottom: 2rem;
}
.footer_top .card .primary_btn{
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
}
.footer_top .card .primary_btn .arrow_right_icon{
	width: 1.5rem;
}
.footer_top .card .card_body .icon_box{
	background-color: #e12b3e1a;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}
.footer_top .card .card_body .icon_box .icon{
	width: 32px;
    height: auto;
    color: #e12b3e;
}
.footer_top .card .card_bottom .shield_icon{
	width: 16px;
	height: auto;
}
.footer_top .card .card_bottom{
	color:#6b7280;
}
.footer p{
	font-size: 0.875rem;
	color: #FFFFFF;
	font-weight: 400;
	line-height: 1.5rem;
	padding-top: 0.625rem;
}
.footer .email p{
	font-size: 0.938rem;
	font-weight: 400;
	color:#FFFFFF;
	opacity: 50%;
}
.footer .email_arrow{
	width: 50px;
    height: 50px;
    background-color: #FFD2DD;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.footer .info{
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .quick_links li .link {
	text-decoration: none;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5rem;
	color: #ffffff; /* corrected from #ffff to #ffffff */
  }
  
.footer .quick_links p{
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.625rem;
	color:#D1F2FF;
}
.footer .copywrite{
	margin-top: 2rem;
}
.footer .copywrite .icon_box{
	width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
	margin-left: 1.375rem;
}


/* end footer */


/* main solution page */
.main_solution_hero {
	background-image: url('/images/pages/each-solution/bg1.png');
	background-size: 100%;
	background-position: bottom center;
	background-repeat: no-repeat;
	margin-top:6.375rem;
}
.main_solution_bg {
	/* background-image: url('/images/pages/each-solution/bg1.png');
	background-size: auto 400px;
	background-position: bottom left;
	background-repeat: no-repeat; */
	padding-bottom: 89px;
}
.main_solution_header {
	font-weight: 700;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: 0;
}
.main_solution_text {
	font-weight: 700;
	font-size: 32px;
	line-height: 150%;
	letter-spacing: 0;
	color: #666666;
}
.main_solution_left_panel {
	/* display: flex;
	padding: 5rem 2rem 5rem 5rem; */
	padding-left: 98px;
    padding-right: 163px;
	padding-top: 78px;
    padding-bottom: 78px;

}
.main_solution_right_panel {
	background-image: url('/images/pages/each-solution/sortly_solutions.png');
	background-size: 100% 100%;
	background-position: top left;
	background-repeat: no-repeat;
	height: 100%;
	overflow: hidden;
}
.main_solution_content {
	/* padding: 8rem; */
	margin-top:9.688rem;
}
.main_solution_content h1 {
	font-weight: 700;
	font-size: 48px;
}
.main_solution_content p {
	font-size: 32px;
	color: #666666;
	font-weight: 400;
	line-height: 1.2;
}


.main_solution_upload{
	margin-top: 100px;
}
.main_solution_bg2 {
	background-image: url('/images/pages/each-solution/bg2.png');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	padding-top:119px;
	padding-bottom: 90px;
	padding-left: 184px;
	padding-right: 182px;
}
.main_solution_bg2 .main_solution_upload_left_panel{
	padding-top: 134px;
    padding-bottom: 134px;
	margin-right: 47px;

}
.main_solution_toolkit{
	margin-top:100px;
}
/* .main_solution_bg3 {
	padding: 8rem 8rem 0 8rem ;
} */
.main_solution_bg3 h1 {
	font-size: 32px;
	font-weight: 700;
}

.main_solution_toolkit_box {
	border-width: 0px 6px 6px 0px;
	border-style: solid;
	border-radius: 32px;
	padding: 24px;
	cursor: pointer ;
}
.main_solution_toolkit_box.green {
	background-color: #FAFFFE;
	border-color: #BAF9F2;
}
.main_solution_toolkit_box.blue {
	background-color: #F7FBFE;
	border-color: #BADBF9;
}
.main_solution_toolkit_box h1 {
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;
}
.main_solution_toolkit_box p {
	color: #666666;
	line-height: 120%;
}
.main_solution_toolkit_box span {
	font-size: 14px;
}
.main_solution_toolkit_box.green span {
	color: #1BEFD8;
	line-height: 150%;;
}
.main_solution_toolkit_box.blue span {
	color: #74BAF9;
}

.main_solution_toolkit_blue_box {
	background-color: #F7FBFE;
	border-width: 0px 6px 6px 0px;
	border-style: solid;
	border-color: #BAF9F2;
	border-radius: 32px;
	padding: 24px;
}
.main_solution_toolkit_blue_box h1 {
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;
}
.main_solution_toolkit_blue_box p {
	color: #666666;
}
.main_solution_toolkit_blue_box span {
	color: #1BEFD8;
	font-size: 14px;
}
.main_solution_check_list{
	margin-top:127px;
}
.main_solution_bg4_box{
	padding: 0 8rem;
	margin-top: 133px;
}
.main_solution_bg4 {
	background-image: url('/images/pages/each-solution/bg4.svg');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	/* padding: 3rem; */
	height: 100%;
	padding-bottom: 42px;
}
.main_solution_bg4 img {
	width: 470px;
	height: 409px;
}
.main_solution_bg4_box .image_container{
	padding-top: 81px;
    padding-left: 52px;
    padding-right: 92px;
    /* padding-bottom: 42px; */
}
.main_solution_bg4_list{
	display: flex;
	align-items: center;
	justify-content: end;
	flex-direction: column;
	padding-bottom: 42px;
}

.main_solution_bg5 {
	margin-top: 130px;
}
.main_solution_bg5 h1 {
	font-weight: 700;
	font-size: 46px;
}
.main_solution_bg5 p {
	font-size: 32px;
	color: #666666;
}
.main_solution_content .tabs{
 	margin-bottom:6.063rem ;
}
.main_solution_content .cards{
	margin-bottom: 5.438rem;
}
.main_solution_bg5_tabs {
	font-size: 24px;
	font-weight: 700;
	color: #666666;
	cursor: pointer;
}
.main_solution_bg5_tabs.active {
	color: #E12B3E;
	border-bottom: 2px solid #E12B3E;
}

.work_order {
	width: 200px;
}
.work_order h5 {
	font-weight: 700;
}
.work_order p {
	font-size: 12px !important;
}
.main_Solution_bg6{
	margin-bottom: 6.978rem;
}
.main_Solution_bg6 .img_conatiner{
	background-color: beige;
	border-radius: 1.5rem;
	overflow: hidden;
}
.main_Solution_bg6 .card{
	background-color: #fff;
	border-radius: 1.5rem;
	box-shadow: 0px 2px 15px 0px #00000026;
	border: 0px;

}
.main_Solution_bg6 .card-title{
	font-size: 1.261rem;
	font-weight: 600;
	text-transform: uppercase;
}
.main_Solution_bg6 .card-text{
	font-size: 1rem;
	font-weight: 400;
	color:#2C2C2C;
	display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}




/* Code for tablet screen size */
@media (min-width: 768px) and (max-width: 1199px) {
	/* Add your styles for tablet here */
	.main_solution_header {
		font-size: 48px;
	}
	.main_solution_text {
		font-size: 24px;
	}

	.main_solution_content {
		padding: 6rem;
	}
	.main_solution_content h1 {
		font-size: 32px;
	}
	.main_solution_content p {
		font-size: 24px;
	}

	.main_solution_bg2 {
		padding: 6rem;
	}

	.main_solution_bg3 {
		padding: 6rem 6rem 0 6rem;
	}
	.main_solution_bg3 h1 {
		font-size: 28px;
	}

	.main_solution_bg4_box{
		padding: 0 6rem 6rem;
	}
	.main_solution_bg4 {
		height: 400px;
	}
}

/* Code for mobile screen size */
@media (max-width: 768px) {
	/* Add your styles for mobile here */
	.main_solution_header {
		font-size: 32px;
	}
	.main_solution_text {
		font-size: 20px;
	}
	.main_solution_left_panel {
		padding: 3rem 0 3rem 3rem;
	}
	.main_solution_right_panel {
		height: 300px;
	}

	.main_solution_content {
		padding: 3rem;
	}
	.main_solution_content h1 {
		font-size: 24px;
	}
	.main_solution_content p {
		font-size: 16px;
	}

	.main_solution_bg2 {
		padding: 3rem;
	}

	.main_solution_bg3 {
		padding: 3rem 3rem 0 3rem;
	}
	.main_solution_bg3 h1 {
		font-size: 24px;
	}

	.main_solution_bg4_box{
		padding: 0 3rem 3rem;
	}
	.main_solution_bg4 {
		height: 300px;
		padding: 1rem;
	}
}
/* end main solution page */

/* each feature page  */
.each_feature_hero{
	margin-bottom: 100px;
}
.each_feature_hero .each_feature_content h1{
	font-weight: 700;
	font-size: 64px;
	color:#000000;
}
.each_feature_hero .each_feature_content p{
	font-weight: 700;
	font-size: 32px;
	color:#666666;
	line-height: 150%;
}
.each_feature_hero_bg{
	background-image: url('/images/pages/each-feature/bg2.svg');
	background-size: 100%;
	background-position: center 120%;
	background-repeat: no-repeat;
	padding-bottom:2rem;
}
.each_feature_hero_container{
	margin-top: 102px !important;
	padding-bottom: 65px;
}
.each_feature_bg{
	width: 800px;
    height: 500px;
    position: relative;
	margin-top:4.875rem;
}
.each_feature_heading{
	margin-bottom: 100px;
}
.each_feature_heading h2{
	font-weight: 700;
	font-size: 48px;
	color:#333333;
	line-height: 100%;
}
.each_feature_heading p{
	font-weight: 400;
	font-size: 32px;
	color:#666666;
	line-height: 110%;
}

.inventory_checklist .check_list p, .construction_supplies_checklist .check_list p{
	font-size: 24px;
	font-weight: 700;
	color:#333333;

}
.inventory_checklist .check_list .heading_tag span, .construction_supplies_checklist .check_list .heading_tag span{
	color:#E12B3E;

}
.inventory_checklist .check_list .list p, .construction_supplies_checklist .check_list .list p{
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	color:#201C44;
}
.inventory_checklist .check_list_bg{
	width:470px;
	height: 409px;
	position: relative;
}
.each_feature_inventory{
	margin-bottom: 175px;
}
.inventory_import_tabs{
	margin-bottom: 6rem;
}
.inventory_import_tab {
	font-size: 24px;
	font-weight: 700;
	color: #666666;
	cursor: pointer;
}
.inventory_import_tab.active {
	color: #E12B3E;
	border-bottom: 2px solid #E12B3E;
}
.inventory_checklist_bg_right{
	background-image: url(/images/pages/each-feature/bg4.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
	margin-bottom: 100px;
}
.inventory_checklist_bg_left{
	background-image: url(/images/pages/each-feature/bg5.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.inventory_checklist_content{
	padding-top: 59px;
	/* margin-top: 100px; */
}
.construction_supplies{
	margin-bottom: 133px;
}
.construction_supplies .ellipse_container_left{
	margin-bottom: 133px;
}
.ellipse_left_bg {
	background-image: url('/images/pages/each-feature/bg6.svg');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	/* padding: 3rem; */
	height: 100%;
	padding-bottom: 42px;
}
.ellipse_left_bg .image_container{
	padding-top: 81px;
    padding-left: 52px;
    padding-right: 0;
}
.ellipse_right_bg {
	background-image: url('/images/pages/each-feature/bg7.svg');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	/* padding: 3rem; */
	height: 100%;
	padding-bottom: 42px;
}
.ellipse_right_bg .image_container{
	padding-top: 81px;
    padding-right: 82px;
    padding-left: 0;
}

.inventory_import .image_box{
	background-image: url('/images/pages/each-feature/bg7.svg');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 131px;
    height: 113px;
}
.inventory_card .card_sub_heaidng{
	font-size: 13px;
	color:#666666;
	line-height: 125%;
}
.inventory_container{
	margin-bottom: 87px;
}
.inventory_container:last-child{
	margin-bottom: 0px;
}

.inventory_import {
	position: relative;
	width: 100%;
	height: 100%; /* or whatever fits your layout */
	overflow: hidden;
	margin-bottom: 100px;
  }
  .inventory_import{
	padding-top: 99px;
	padding-bottom: 268px;
  }
  .inventory_import .bg_image {
	position: absolute;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	object-fit: fill; /* or 'cover' / 'contain' based on your need */
	z-index: -1;
  }
  .inventory_import .bottom_text{
	position: absolute;
	bottom:7%;
	left:0;
	right:0;
  }
  .inventory_import .bottom_text p{
	color:#666666;
	font-size: 18px;
  }
  .inventory_import .bottom_text p .redirect_link	{
	color:#E12B3E;
	text-decoration: none;
  }
  .inventory_management{
	margin-bottom: 106px;
  }
  .inventory_management_card{
	background-color: #F1E9F9 !important;
	border-radius: 12px !important;
	box-shadow: 0px 4px 4px 0px #00000026;
	border:0px !important;
	outline: 0px !important;

  }
  .inventory_card h5{
	font-weight: 700;
	font-size: 24px;
  }
  .inventory_card p{
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color:#666666;
  }
/* end each feature page  */

/* enterprise page */
.enterprise_hero{
	padding-top: 56px;
	margin-bottom: 90px;
}
.enterprise_hero h1{
	font-size: 64px;
	font-weight: 700;
	margin-bottom: 51px;
	padding-top: 56px;
}
.enterprise_hero p{
	font-size: 32px;
	font-weight: 700;
	line-height: 150%;
	color:#666666;
}
.enterprise_hero .bg_img{
	bottom: 0;
    right: 0;
    width: fit-content;
    z-index: -1;
}
.custom-form {
	/* border: 2px solid #007bff; */
	border-radius: 0.583rem;
	padding: 4.313rem 1.516rem ;
	max-width: 650px;
	margin: 55px;
	margin-top: 20px;
	margin-right: 0px;
	box-shadow: 0px 0px 4.66px 0px #00000036;
	background-color: #fff;
  }
.form_inputs_fields{
	margin-bottom: 37.3px;
}
  .form-floating > .form-control {
	border-radius: 10px;
	border: 1.17px solid #D8DDE3 !important;
  }
  .form-floating > .form-control:focus{
	box-shadow: none;
	padding: 0rem .5rem !important;
	border: 1.17px solid #D8DDE3 !important;
  }
  .form-floating>.form-control:focus~label{
	transform: none !important;
  }
  .form-check-input.checkbox{
	width:1.5rem;
	height:1.5rem;
  }

  .form-floating > label {
	color: #999;
	font-weight: 700;
	position: absolute;
	background-color: #fff;
	color:#999999;
    top: -13px !important;
    left: 7px !important;
    z-index: 2;
    max-width: 100%;
    height: fit-content !important;
    padding: 0rem .5rem !important;
  }

  .form-label-section {
	font-weight: 600;
	color: #6A7682;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size:18.65px;
	margin-bottom: 27px;
  }

  .form-check-label {
	font-weight: 700;
	color: #768898;
	font-size: 16.32px;
  }

  .terms-text span {
	color: red;
	font-weight: 600;
  }
  .entrprise_large_business{
	margin-bottom: 175px;
  }
/* end enterprise page */

/* each industry page*/
.each_industry_hero h1{
	font-size: 64px;
}
.each_industry_hero p{
	font-size: 32px;
	color:#666666;
	line-height: 150%;
}
.each_industry_hero .heading{
	margin-bottom: 78px;
}
.video-frame-wrapper {
	max-width: 926px; /* as close to 926px as needed */
	margin: auto;
	margin-bottom: 110px;
	background-color: #000;
	border-radius: 10px;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
	overflow: hidden;
  }

  .video-frame-wrapper iframe {
	width: 100%;
	height: 532px; /* as per screenshot height */
	display: block;
  }
  .each_industry_hero .bg_img{
	/* position: absolute; */
    /* bottom: -20%;
    width: 100%;
    height: 614px;
    z-index: -1;
    left: 0; */
  }
  .img_box{
	width: 642px;
    height: 558px;
	position: relative;

  }
  .construction_supplies_checklist_bg{
	background-image: url(/images/pages/each-industry/bg3.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .each_industry_construstion_supply_checklists .ellipse_left_bg{
	background-image: url('/images/pages/each-industry/bg4.svg');
  }
  .each_industry_construstion_supply_checklists .ellipse_container_left{
	margin-bottom: 150px;
  }
/* each industry end */