:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: none !important;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

/* common css */
/* color */
.text_black {
	color: #000000;
}

.text_primary {
	color: #e12b3e
}

.icon_s16 {
	width: 16px;
	height: auto;
}

.icon_s14 {
	width: 14px;
	height: 14px;
}

.icon_s15 {
	width: 15px;
	height: 15px;
}

.primary_btn {
	background: linear-gradient(to left, #e12b3e 50%, #e12b3ee6 50%);
	background-size: 200% 100%;
	background-position: right;
	transition: background-position 0.2s ease-out !important;
	outline: 0;
	border: 0 !;
	width: fit-content !important;
	color: #ffff !important;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 8px !important;
}

.primary_btn:hover {
	background-position: left;
	color: white;
}
.link_btn {
	background-color: transparent;
	outline: 0;
	border: 0;
	width: fit-content;
	color: #E12B3E !important;
	padding: 0.5rem 0rem;
	font-size: 0.875rem;
	font-weight:400;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 0px;
	cursor: pointer;
	text-decoration: none;
}

.link_btn:hover {
	background-position: left;
	color: white;
}

.main_solution_hero .primary_fill_btn {
	background-color: #E12B3E;
	outline: 0;
	border: 0;
	width: fit-content;
	color: #ffff !important;
	padding: 0.5rem 1rem;
	font-size: 14px;
	font-weight: 400;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 12px;
}

.main_solution_hero .primary_fill_btn {
	background-color: #E12B3E !important;
}

.main_solution_hero .secondary_fill_btn {
	background-color: #FFF0F2;
	outline: 0;
	border: 0;
	width: fit-content;
	color: #E12B3E !important;
	padding: 0.5rem 1rem;
	font-size: 14px;
	font-weight: 400;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 12px;
}

.main_solution_hero .secondary_fill_btn:hover {
	background-color: #FFF0F2;
}




/* end common css */

/* header */
.main_header {
	background-color: #ffff !important;
	color: #4b5563
}

.navbar-brand {
	color: #e12b3e !important;
	margin-right: 3rem !important;
}

.main_header .nav-item {
	position: relative;
	margin-right: 2rem;
}

.main_header .nav-item:not(.dropdown)::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) scaleX(0);
	transform-origin: center;
	width: 100%;
	height: 2px;
	background-color: #e12b3e;
	transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main_header .nav-item:hover::after {
	transform: translateX(-50%) scaleX(1);
}

.main_header .nav-link:hover {
	color: #e12b3e;
}

.main_header .dropdown-menu {
	position: absolute;
	margin-top: 0.1rem;
	border: 0px;
	outline: 0;
	box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	border: 1px solid #f3f4f6;
	background-color: #ffff;
	padding: 1rem;
	border-radius: 16px;
}

.dropdown-toggle::after {
	display: none !important;
}

.arrow_down_icon {
	width: 16px;
	height: 16px;
	transition: transform 0.3s ease;
}

.arrow_down_icon.rotate {
	transform: rotate(180deg);
}

.dropdown>.solutionShow {
	display: block;
}

.main_header .round_circle {
	width: 2rem;
	background-color: #e12b3e1a;
	aspect-ratio: 1;
	border-radius: 50%;
	/* makes it actually round */
	display: flex;
	align-items: center;
	justify-content: center;
}

.main_header .dropdown-menu .round_circle .icon {
	width: 16px;
	/* or whatever size you want */
	height: auto;
	color: #e12b3e;
}

.dropedown_navlink {
	font-size: 16px;
}

.dropedown_navlink:hover {
	color: #e12b3e;
}

.dropedown_navitem {
	font-size: 16px;
	color: #6b7280;
}

.arrow_right_icon {
	width: 1rem;
	height: auto;
	color: #ffff;
	margin-left: 0.5rem;
	/* space between text and arrow */
	transition: transform 0.2s ease-out;
	/* smooth movement */
}

.primary_btn:hover .arrow_right_icon {
	transform: translateX(5px);
	/* slight move to the right */
}

.main_header .signIn_btn {
	background-color: transparent;
	color: #e12b3e !important;
	outline: 0;
	border: 0;
	width: fit-content;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 8px;
}

.signIn_btn .user_icon {
	width: 16px;
	height: auto;
}

.signIn_btn:hover {
	background-color: #e12b3e0d !important;
}

.customer_icon {
	width: 16px;
	aspect-ratio: 1;
}

.contact p,
.email p {
	font-size: 14px;
}

.icons .social_icon {
	color: #ffff;
}

.top_navbar {
	background-image: linear-gradient(to right, rgb(225 43 62 / 0.9), rgb(147 51 234 / 0.9));
}

.dropdown {
	color: #fff;
	font-size: 0.875rem !important;
}

.select_language {
	border-left: 1px solid #fff;
}

.dropdown-menu .menu_language {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 1000;
	background-color: white;
	color: #fff;
	overflow: hidden;
	border-radius: 0.25rem;
	padding: 0px !important;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	min-width: 6rem !important;
}

.dropdown-item {
	width: fit-content;
	font-size: 0.875rem;
	padding: 0 0 0 1rem!important;
	border-radius: 1rem;
	overflow: hidden;
}

.dropdown.show .dropdown-menu .menu_language {
	display: block;
}

.dropdown-menu .menu_languag .dropdown-item:hover {
	background-color: #2727fb !important;
	color: #fff !important;

}

.nav_btn {
	border-left: 1px solid #ebebeb;
}

/* end header */

/* footer */
.footer{
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
	background-color:#28282B;
	color:#fff;
}
.footer_top_bg{
	background-image: radial-gradient(circle at 75% 25%, rgba(139, 92, 246, 0.1), transparent 50%);
}
.footer_top_bg2{
	background-image: radial-gradient(circle at 25% 75%, hsl(353.74deg 75.21% 52.55% / 10%), transparent 50%);
}
.footer_top{
	margin-left:14rem !important;
	margin-right:14rem !important;
	padding-top: 8rem;
	padding-bottom: 8rem;
	/* background: linear-gradient(to bottom right, #fff, #f9fafb, #fff); */
	/* background: linear-gradient(to bottom right, #ffffff, #f9fafb, #ffffff); */
		/* background: linear-gradient(to bottom right, #ffffff, #d1d5db, #ffffff); */
		

	background-position: center;
	background-size: cover;

}
.footer_top h2{
	color:#111827;
	line-height: 1.25;
	font-weight: 700;
	font-size: 3rem;
}
.footer_top h2 .bottom_boder {
	height: 0.25rem;
	width: 100%;
	left: 0;
	bottom: -0.5rem;
	background-color: #e12b3e4d;
	border-radius:624.938;
}
.footer_top .check_list{
	margin-top:2rem;
}
.footer_top .check_list .list_item{
	margin-top:1.5rem
}
.footer_top .check_list .list_item:first-child{
	margin-top:0;
}
.footer_top .check_list p{
	color:#4b5563
}
.footer_top .check_list .icon{
	width:2rem;
	height: 2rem;
	color:#4b5563;
	border-radius: 9999px;
	background-color:#ffffff1a;
}
.footer_top .check_list .icon .check_line{
	width: 16px;
	height: auto;
}
.footer_top .card{
	padding: 2rem;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
	border:1px solid #f3f4f6;
	border-radius: 1.5rem;

}
.footer_top .card h3{
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2rem;
	color:#111827;
}
.footer_top .card p{
	color:#4b5563;
}
.footer_top .card .card_body{
 margin-bottom: 2rem;
}
.footer_top .card .primary_btn{
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
}
.footer_top .card .primary_btn .arrow_right_icon{
	width: 1.5rem;
}
.footer_top .card .card_body .icon_box{
	background-color: #e12b3e1a;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}
.footer_top .card .card_body .icon_box .icon{
	width: 32px;
    height: auto;
    color: #e12b3e;
}
.footer_top .card .card_bottom .shield_icon{
	width: 16px;
	height: auto;
}
.footer_top .card .card_bottom{
	color:#6b7280;
}
.footer p{
	font-size: 0.875rem;
	color: #FFFFFF;
	font-weight: 400;
	line-height: 1.5rem;
	padding-top: 0.625rem;
}
.footer .email p{
	font-size: 0.938rem;
	font-weight: 400;
	color:#FFFFFF;
	opacity: 50%;
}
.footer .email_arrow{
	width: 50px;
    height: 50px;
    background-color: #FFD2DD;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.footer .info{
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .quick_links li .link {
	text-decoration: none;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5rem;
	color: #ffffff; /* corrected from #ffff to #ffffff */
  }
  
.footer .quick_links p{
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.625rem;
	color:#D1F2FF;
}
.footer .copywrite{
	margin-top: 2rem;
}
.footer .copywrite .icon_box{
	width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
	margin-left: 1.375rem;
}


/* end footer */


/* main solution page */
.main_solution_hero {

}
.main_solution_bg {
	background-image: url('/images/pages/each-solution/bg1.png');
	background-size: auto 400px;
	background-position: bottom left;
	background-repeat: no-repeat;
}
.main_solution_header {
	font-weight: 700;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: 0;
}
.main_solution_text {
	font-weight: 700;
	font-size: 32px;
	line-height: 100%;
	letter-spacing: 0;
	color: #666666;
}
.main_solution_left_panel {
	display: flex;
	padding: 5rem 2rem 5rem 5rem;

}
.main_solution_right_panel {
	background-image: url('/images/pages/each-solution/sortly_solutions.png');
	background-size: 100% 100%;
	background-position: top left;
	background-repeat: no-repeat;
	height: 550px;
	overflow: hidden;
}
.main_solution_content {
	padding: 8rem;
}
.main_solution_content h1 {
	font-weight: 700;
	font-size: 48px;
}
.main_solution_content p {
	font-size: 32px;
	color: #666666;
}



.main_solution_bg2 {
	background-image: url('/images/pages/each-solution/bg2.png');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	padding: 8rem;
}

.main_solution_bg3 {
	padding: 8rem 8rem 0 8rem ;
}
.main_solution_bg3 h1 {
	font-size: 32px;
	font-weight: 700;
}

.main_solution_toolkit_box {
	border-width: 0px 6px 6px 0px;
	border-style: solid;
	border-radius: 32px;
	padding: 24px;
}
.main_solution_toolkit_box.green {
	background-color: #FAFFFE;
	border-color: #BAF9F2;
}
.main_solution_toolkit_box.blue {
	background-color: #F7FBFE;
	border-color: #BADBF9;
}
.main_solution_toolkit_box h1 {
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;
}
.main_solution_toolkit_box p {
	color: #666666;
}
.main_solution_toolkit_box span {
	font-size: 14px;
}
.main_solution_toolkit_box.green span {
	color: #1BEFD8;
}
.main_solution_toolkit_box.blue span {
	color: #74BAF9;
}

.main_solution_toolkit_blue_box {
	background-color: #F7FBFE;
	border-width: 0px 6px 6px 0px;
	border-style: solid;
	border-color: #BAF9F2;
	border-radius: 32px;
	padding: 24px;
}
.main_solution_toolkit_blue_box h1 {
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;
}
.main_solution_toolkit_blue_box p {
	color: #666666;
}
.main_solution_toolkit_blue_box span {
	color: #1BEFD8;
	font-size: 14px;
}

.main_solution_bg4_box{
	padding: 0 8rem;
}
.main_solution_bg4 {
	background-image: url('/images/pages/each-solution/bg4.svg');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	padding: 3rem;
	height: 500px;
}
.main_solution_bg4 img {
	width: 400px;
}

.main_solution_bg5 {
	padding: 8.125rem 13.875rem;
	padding-bottom: 0rem !important;
	margin-bottom: 6.063rem;
}
.main_solution_bg5 h1 {
	font-weight: 700;
	font-size: 46px;
}
.main_solution_bg5 p {
	font-size: 32px;
	color: #666666;
}
.main_solution_content .tabs{
 	margin-bottom:6.063rem ;
}
.main_solution_content .cards{
	margin-bottom: 5.438rem;
}
.main_solution_bg5_tabs {
	font-size: 24px;
	font-weight: 700;
	color: #666666;
	cursor: pointer;
}
.main_solution_bg5_tabs.active {
	color: #E12B3E;
	border-bottom: 2px solid #E12B3E;
}

.work_order {
	width: 200px;
}
.work_order h5 {
	font-weight: 700;
}
.work_order p {
	font-size: 12px !important;
}
.main_Solution_bg6{
	margin-bottom: 6.978rem;
}
.main_Solution_bg6 .img_conatiner{
	background-color: beige;
	border-radius: 1.5rem;
	overflow: hidden;
}
.main_Solution_bg6 .card{
	background-color: #fff;
	border-radius: 1.5rem;
	box-shadow: 0px 2px 15px 0px #00000026;
	border: 0px;

}
.main_Solution_bg6 .card-title{
	font-size: 1.261rem;
	font-weight: 600;
	text-transform: uppercase;
}
.main_Solution_bg6 .card-text{
	font-size: 1rem;
	font-weight: 400;
	color:#2C2C2C;
	display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}



/* Code for tablet screen size */
@media (min-width: 768px) and (max-width: 1199px) {
	/* Add your styles for tablet here */
	.main_solution_header {
		font-size: 48px;
	}
	.main_solution_text {
		font-size: 24px;
	}

	.main_solution_content {
		padding: 6rem;
	}
	.main_solution_content h1 {
		font-size: 32px;
	}
	.main_solution_content p {
		font-size: 24px;
	}

	.main_solution_bg2 {
		padding: 6rem;
	}

	.main_solution_bg3 {
		padding: 6rem 6rem 0 6rem;
	}
	.main_solution_bg3 h1 {
		font-size: 28px;
	}

	.main_solution_bg4_box{
		padding: 0 6rem 6rem;
	}
	.main_solution_bg4 {
		height: 400px;
	}
}

/* Code for mobile screen size */
@media (max-width: 768px) {
	/* Add your styles for mobile here */
	.main_solution_header {
		font-size: 32px;
	}
	.main_solution_text {
		font-size: 20px;
	}
	.main_solution_left_panel {
		padding: 3rem 0 3rem 3rem;
	}
	.main_solution_right_panel {
		height: 300px;
	}

	.main_solution_content {
		padding: 3rem;
	}
	.main_solution_content h1 {
		font-size: 24px;
	}
	.main_solution_content p {
		font-size: 16px;
	}

	.main_solution_bg2 {
		padding: 3rem;
	}

	.main_solution_bg3 {
		padding: 3rem 3rem 0 3rem;
	}
	.main_solution_bg3 h1 {
		font-size: 24px;
	}

	.main_solution_bg4_box{
		padding: 0 3rem 3rem;
	}
	.main_solution_bg4 {
		height: 300px;
		padding: 1rem;
	}
}